body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}








.social-item {
  color: #fff;
  text-decoration: none;
}

.social {
  position: fixed;
  right: -90px;
  z-index: 1000 !important;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(160px, 0);
  -moz-transform: translate(160px, 0);
  -ms-transform: translate(160px, 0);
  -o-transform: translate(160px, 0);
  transform: translate(160px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: #4694c0;
  width: 300px;
  text-align: left;
  padding: 10px;
  /* box-sizing: none !important; */
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  border-radius: 30px 0 0 30px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(-190px, 0);
  -moz-transform: translate(-190px, 0);
  -ms-transform: translate(-190px, 0);
  -o-transform: translate(-190px, 0);
  transform: translate(-190px, 0);
  background: #0d6efd;
}
.social ul li:hover a {
  color: #fff;
}
.social ul li:hover  svg {
  color: #0a2a66;
  /* background: #0d6efd; */
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-right: 10px;
  color: #0a2a66;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}


















@media (max-width: 720px){
 
  .social ul {
    padding: 0px;
    -webkit-transform: translate(174px, 0);
    -moz-transform: translate(174px, 0);
    -ms-transform: translate(174px, 0);
    -o-transform: translate(174px, 0);
    transform: translate(174px, 0);
  }

  .social ul li {
    padding: 8px;
  }

  .social ul li i {
    padding: 5px;
  }
}

